body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1027px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:330px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5491 {
  position:absolute;
  left:16px;
  top:0px;
  width:530px;
  height:330px;
}
#u5492 {
  position:absolute;
  left:2px;
  top:157px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5493 {
  position:absolute;
  left:81px;
  top:60px;
  width:400px;
  height:35px;
  text-align:left;
}
#u5494 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u5495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u5495 {
  position:absolute;
  left:438px;
  top:70px;
  width:37px;
  height:16px;
  text-align:center;
}
#u5496 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u5497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5497 {
  position:absolute;
  left:81px;
  top:94px;
  width:400px;
  height:125px;
  text-align:left;
}
#u5498 {
  position:absolute;
  left:2px;
  top:54px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:16px;
}
#u5499 {
  position:absolute;
  left:147px;
  top:127px;
  width:299px;
  height:16px;
}
#u5500 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u5501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5501 {
  position:absolute;
  left:171px;
  top:175px;
  width:82px;
  height:32px;
  color:#FFFFFF;
}
#u5502 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u5503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5503 {
  position:absolute;
  left:291px;
  top:175px;
  width:82px;
  height:32px;
}
#u5504 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u5505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5505 {
  position:absolute;
  left:629px;
  top:219px;
  width:398px;
  height:64px;
}
#u5506 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u5507 {
  position:absolute;
  left:212px;
  top:207px;
  width:0px;
  height:0px;
}
#u5507_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u5507_seg1 {
  position:absolute;
  left:-4px;
  top:14px;
  width:425px;
  height:8px;
}
#u5507_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u5508 {
  position:absolute;
  left:152px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
