body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:937px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:359px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7948 {
  position:absolute;
  left:30px;
  top:38px;
  width:684px;
  height:359px;
}
#u7949 {
  position:absolute;
  left:2px;
  top:172px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7950 {
  position:absolute;
  left:92px;
  top:92px;
  width:560px;
  height:34px;
  text-align:left;
}
#u7951 {
  position:absolute;
  left:2px;
  top:9px;
  width:556px;
  word-wrap:break-word;
}
#u7952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u7952 {
  position:absolute;
  left:614px;
  top:97px;
  width:14px;
  height:24px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u7953 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u7954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7954 {
  position:absolute;
  left:92px;
  top:126px;
  width:560px;
  height:170px;
}
#u7955 {
  position:absolute;
  left:2px;
  top:77px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7956 {
  position:absolute;
  left:173px;
  top:178px;
  width:421px;
  height:16px;
}
#u7957 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u7958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7958 {
  position:absolute;
  left:289px;
  top:236px;
  width:65px;
  height:31px;
  color:#FFFFFF;
}
#u7959 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7960 {
  position:absolute;
  left:390px;
  top:236px;
  width:65px;
  height:31px;
}
#u7961 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7962 {
  position:absolute;
  left:62px;
  top:436px;
  width:875px;
  height:32px;
}
#u7963 {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  white-space:nowrap;
}
#u7964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:160px;
}
#u7964 {
  position:absolute;
  left:315px;
  top:267px;
  width:1px;
  height:159px;
}
#u7965 {
  position:absolute;
  left:2px;
  top:72px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
