body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1027px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:330px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4587 {
  position:absolute;
  left:16px;
  top:0px;
  width:530px;
  height:330px;
}
#u4588 {
  position:absolute;
  left:2px;
  top:157px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4589_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4589 {
  position:absolute;
  left:81px;
  top:60px;
  width:400px;
  height:35px;
  text-align:left;
}
#u4590 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u4591_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4591 {
  position:absolute;
  left:438px;
  top:70px;
  width:37px;
  height:16px;
  text-align:center;
}
#u4592 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u4593_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4593 {
  position:absolute;
  left:81px;
  top:94px;
  width:400px;
  height:125px;
  text-align:left;
}
#u4594 {
  position:absolute;
  left:2px;
  top:54px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:16px;
}
#u4595 {
  position:absolute;
  left:147px;
  top:127px;
  width:299px;
  height:16px;
}
#u4596 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u4597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4597 {
  position:absolute;
  left:171px;
  top:175px;
  width:82px;
  height:32px;
  color:#FFFFFF;
}
#u4598 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u4599_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4599 {
  position:absolute;
  left:291px;
  top:175px;
  width:82px;
  height:32px;
}
#u4600 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u4601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4601 {
  position:absolute;
  left:629px;
  top:219px;
  width:398px;
  height:64px;
}
#u4602 {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u4603 {
  position:absolute;
  left:212px;
  top:207px;
  width:0px;
  height:0px;
}
#u4603_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u4603_seg1 {
  position:absolute;
  left:-4px;
  top:14px;
  width:425px;
  height:8px;
}
#u4603_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u4604 {
  position:absolute;
  left:152px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
