body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:546px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:383px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6539 {
  position:absolute;
  left:16px;
  top:50px;
  width:530px;
  height:383px;
}
#u6540 {
  position:absolute;
  left:2px;
  top:184px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6541 {
  position:absolute;
  left:81px;
  top:163px;
  width:400px;
  height:35px;
  text-align:left;
}
#u6542 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u6543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6543 {
  position:absolute;
  left:438px;
  top:173px;
  width:37px;
  height:16px;
  text-align:center;
}
#u6544 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u6545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6545 {
  position:absolute;
  left:81px;
  top:197px;
  width:400px;
  height:125px;
  text-align:left;
}
#u6546 {
  position:absolute;
  left:2px;
  top:54px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:16px;
}
#u6547 {
  position:absolute;
  left:147px;
  top:230px;
  width:299px;
  height:16px;
}
#u6548 {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  word-wrap:break-word;
}
#u6549_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6549 {
  position:absolute;
  left:171px;
  top:278px;
  width:82px;
  height:32px;
  color:#FFFFFF;
}
#u6550 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u6551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6551 {
  position:absolute;
  left:291px;
  top:278px;
  width:82px;
  height:32px;
}
#u6552 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
