body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1433px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:742px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2157 {
  position:absolute;
  left:59px;
  top:66px;
  width:375px;
  height:742px;
}
#u2158 {
  position:absolute;
  left:2px;
  top:363px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2159 {
  position:absolute;
  left:134px;
  top:697px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2160 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  position:absolute;
  left:60px;
  top:554px;
  width:74px;
  height:63px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u2163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2163 {
  position:absolute;
  left:359px;
  top:80px;
  width:1px;
  height:16px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2165 {
  position:absolute;
  left:59px;
  top:66px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2166 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2167 {
  position:absolute;
  left:140px;
  top:100px;
  width:182px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2168 {
  position:absolute;
  left:2px;
  top:-2px;
  width:178px;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2169 {
  position:absolute;
  left:59px;
  top:66px;
  width:375px;
  height:20px;
}
#u2170 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2171 {
  position:absolute;
  left:59px;
  top:129px;
  width:375px;
  height:1px;
}
#u2172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2173 {
  position:absolute;
  left:73px;
  top:98px;
  width:12px;
  height:20px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:59px;
  top:129px;
  width:375px;
  height:98px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:41px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2177 {
  position:absolute;
  left:66px;
  top:148px;
  width:60px;
  height:60px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2179 {
  position:absolute;
  left:141px;
  top:158px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2181 {
  position:absolute;
  left:141px;
  top:187px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:2px;
}
#u2183 {
  position:absolute;
  left:63px;
  top:263px;
  width:368px;
  height:1px;
}
#u2184 {
  position:absolute;
  left:2px;
  top:-8px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u2185 {
  position:absolute;
  left:169px;
  top:235px;
  width:1px;
  height:27px;
}
#u2186 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2187 {
  position:absolute;
  left:83px;
  top:241px;
  width:57px;
  height:16px;
}
#u2188 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2189 {
  position:absolute;
  left:208px;
  top:241px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2190 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2191_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:6px;
}
#u2191 {
  position:absolute;
  left:191px;
  top:263px;
  width:95px;
  height:3px;
}
#u2192 {
  position:absolute;
  left:2px;
  top:-6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u2193 {
  position:absolute;
  left:305px;
  top:236px;
  width:1px;
  height:27px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2195 {
  position:absolute;
  left:343px;
  top:241px;
  width:57px;
  height:16px;
}
#u2196 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:63px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u2197 {
  position:absolute;
  left:60px;
  top:298px;
  width:74px;
  height:63px;
  color:#FFFFFF;
  text-align:left;
}
#u2198 {
  position:absolute;
  left:2px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u2199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
}
#u2199 {
  position:absolute;
  left:63px;
  top:272px;
  width:155px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2201 {
  position:absolute;
  left:60px;
  top:362px;
  width:74px;
  height:63px;
  text-align:left;
}
#u2202 {
  position:absolute;
  left:2px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  position:absolute;
  left:60px;
  top:426px;
  width:74px;
  height:63px;
}
#u2204 {
  position:absolute;
  left:2px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2205 {
  position:absolute;
  left:60px;
  top:490px;
  width:74px;
  height:63px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  position:absolute;
  left:60px;
  top:682px;
  width:74px;
  height:63px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2209 {
  position:absolute;
  left:60px;
  top:618px;
  width:74px;
  height:63px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:24px;
  width:70px;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2211 {
  position:absolute;
  left:59px;
  top:732px;
  width:375px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2212 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u2213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2213 {
  position:absolute;
  left:134px;
  top:298px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2214 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2215 {
  position:absolute;
  left:393px;
  top:310px;
  width:23px;
  height:16px;
}
#u2216 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2217 {
  position:absolute;
  left:134px;
  top:338px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2218 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2219 {
  position:absolute;
  left:393px;
  top:351px;
  width:23px;
  height:16px;
}
#u2220 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2221 {
  position:absolute;
  left:134px;
  top:378px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2222 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2223 {
  position:absolute;
  left:393px;
  top:392px;
  width:23px;
  height:16px;
}
#u2224 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2223_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2225 {
  position:absolute;
  left:134px;
  top:418px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2226 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2227 {
  position:absolute;
  left:393px;
  top:432px;
  width:23px;
  height:16px;
}
#u2228 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2229 {
  position:absolute;
  left:134px;
  top:458px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2230 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2231 {
  position:absolute;
  left:393px;
  top:472px;
  width:23px;
  height:16px;
}
#u2232 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2233 {
  position:absolute;
  left:134px;
  top:498px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2234 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2235 {
  position:absolute;
  left:393px;
  top:511px;
  width:23px;
  height:16px;
}
#u2236 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2235_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2237 {
  position:absolute;
  left:134px;
  top:538px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2238 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2239 {
  position:absolute;
  left:393px;
  top:552px;
  width:23px;
  height:16px;
}
#u2240 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2239_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2241 {
  position:absolute;
  left:134px;
  top:578px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2242 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2243 {
  position:absolute;
  left:393px;
  top:592px;
  width:23px;
  height:16px;
}
#u2244 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2243_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2245 {
  position:absolute;
  left:134px;
  top:618px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2246 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2247 {
  position:absolute;
  left:393px;
  top:632px;
  width:23px;
  height:16px;
}
#u2248 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2247_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2249 {
  position:absolute;
  left:134px;
  top:658px;
  width:300px;
  height:40px;
  text-align:left;
}
#u2250 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u2251 {
  position:absolute;
  left:393px;
  top:671px;
  width:23px;
  height:16px;
}
#u2252 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2251_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2253 {
  position:absolute;
  left:59px;
  top:760px;
  width:181px;
  height:47px;
}
#u2254 {
  position:absolute;
  left:2px;
  top:16px;
  width:177px;
  word-wrap:break-word;
}
#u2255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0.819607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2255 {
  position:absolute;
  left:240px;
  top:760px;
  width:194px;
  height:47px;
  color:#FFFFFF;
}
#u2256 {
  position:absolute;
  left:2px;
  top:16px;
  width:190px;
  word-wrap:break-word;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2257 {
  position:absolute;
  left:522px;
  top:353px;
  width:405px;
  height:256px;
}
#u2258 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u2259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2259 {
  position:absolute;
  left:522px;
  top:636px;
  width:405px;
  height:80px;
}
#u2260 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u2261 {
  position:absolute;
  left:411px;
  top:362px;
  width:0px;
  height:0px;
}
#u2261_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u2261_seg1 {
  position:absolute;
  left:68px;
  top:-4px;
  width:8px;
  height:43px;
}
#u2261_seg2 {
  position:absolute;
  left:68px;
  top:31px;
  width:50px;
  height:8px;
}
#u2261_seg3 {
  position:absolute;
  left:110px;
  top:31px;
  width:8px;
  height:6px;
}
#u2261_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2262 {
  position:absolute;
  left:22px;
  top:-4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263 {
  position:absolute;
  left:354px;
  top:529px;
  width:0px;
  height:0px;
}
#u2263_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u2263_seg1 {
  position:absolute;
  left:102px;
  top:-4px;
  width:8px;
  height:19px;
}
#u2263_seg2 {
  position:absolute;
  left:102px;
  top:7px;
  width:71px;
  height:8px;
}
#u2263_seg3 {
  position:absolute;
  left:165px;
  top:9px;
  width:8px;
  height:6px;
}
#u2263_seg4 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2264 {
  position:absolute;
  left:41px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:123px;
  height:21px;
}
#u2265p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:114px;
  height:1px;
}
#u2265p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:125px;
  height:21px;
}
#u2265p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2265p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u2265p002 {
  position:absolute;
  left:111px;
  top:0px;
  width:2px;
  height:1px;
}
#u2265p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u2265.compound {
  width:0px;
  height:0px;
}
#u2265 {
  position:absolute;
  left:410px;
  top:640px;
  width:112px;
  height:1px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:-8px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2267 {
  position:absolute;
  left:522px;
  top:301px;
  width:474px;
  height:32px;
}
#u2268 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u2269 {
  position:absolute;
  left:522px;
  top:317px;
  width:0px;
  height:0px;
}
#u2269_seg0 {
  position:absolute;
  left:-335px;
  top:-4px;
  width:339px;
  height:8px;
}
#u2269_seg1 {
  position:absolute;
  left:-342px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2270 {
  position:absolute;
  left:-218px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2271 {
  position:absolute;
  left:522px;
  top:207px;
  width:495px;
  height:80px;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:495px;
  word-wrap:break-word;
}
#u2273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2273 {
  position:absolute;
  left:522px;
  top:747px;
  width:405px;
  height:80px;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  word-wrap:break-word;
}
#u2275 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:742px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2276 {
  position:absolute;
  left:1058px;
  top:66px;
  width:375px;
  height:742px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:363px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2278 {
  position:absolute;
  left:1358px;
  top:80px;
  width:1px;
  height:16px;
}
#u2279 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2280 {
  position:absolute;
  left:1058px;
  top:66px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2281 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2282 {
  position:absolute;
  left:1139px;
  top:100px;
  width:182px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2283 {
  position:absolute;
  left:2px;
  top:-2px;
  width:178px;
  word-wrap:break-word;
}
#u2284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2284 {
  position:absolute;
  left:1058px;
  top:66px;
  width:375px;
  height:20px;
}
#u2285 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2286 {
  position:absolute;
  left:1058px;
  top:129px;
  width:375px;
  height:1px;
}
#u2287 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2288 {
  position:absolute;
  left:1072px;
  top:98px;
  width:12px;
  height:20px;
}
#u2289 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2290 {
  position:absolute;
  left:1058px;
  top:129px;
  width:375px;
  height:98px;
}
#u2291 {
  position:absolute;
  left:2px;
  top:41px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2292 {
  position:absolute;
  left:1065px;
  top:148px;
  width:60px;
  height:60px;
}
#u2293 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2294 {
  position:absolute;
  left:1140px;
  top:158px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u2295 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2296 {
  position:absolute;
  left:1140px;
  top:187px;
  width:85px;
  height:16px;
  color:#666666;
}
#u2297 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:2px;
}
#u2298 {
  position:absolute;
  left:1062px;
  top:263px;
  width:368px;
  height:1px;
}
#u2299 {
  position:absolute;
  left:2px;
  top:-8px;
  width:364px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u2300 {
  position:absolute;
  left:1168px;
  top:235px;
  width:1px;
  height:27px;
}
#u2301 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2302 {
  position:absolute;
  left:1082px;
  top:241px;
  width:57px;
  height:16px;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2304 {
  position:absolute;
  left:1207px;
  top:241px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2306_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:6px;
}
#u2306 {
  position:absolute;
  left:1190px;
  top:263px;
  width:95px;
  height:3px;
}
#u2307 {
  position:absolute;
  left:2px;
  top:-6px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u2308 {
  position:absolute;
  left:1304px;
  top:236px;
  width:1px;
  height:27px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2310 {
  position:absolute;
  left:1342px;
  top:241px;
  width:57px;
  height:16px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u2312 {
  position:absolute;
  left:1177px;
  top:442px;
  width:141px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2314 {
  position:absolute;
  left:1058px;
  top:732px;
  width:375px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u2315 {
  position:absolute;
  left:2px;
  top:6px;
  width:371px;
  word-wrap:break-word;
}
#u2316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2316 {
  position:absolute;
  left:1058px;
  top:760px;
  width:181px;
  height:47px;
}
#u2317 {
  position:absolute;
  left:2px;
  top:16px;
  width:177px;
  word-wrap:break-word;
}
#u2318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:47px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0.819607843137255);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2318 {
  position:absolute;
  left:1239px;
  top:760px;
  width:194px;
  height:47px;
  color:#FFFFFF;
}
#u2319 {
  position:absolute;
  left:2px;
  top:16px;
  width:190px;
  word-wrap:break-word;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u2320 {
  position:absolute;
  left:1207px;
  top:380px;
  width:50px;
  height:41px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:71px;
  height:21px;
}
#u2322p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:63px;
  height:1px;
}
#u2322p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:73px;
  height:21px;
}
#u2322p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u2322p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u2322p002 {
  position:absolute;
  left:47px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2322p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u2322.compound {
  width:0px;
  height:0px;
}
#u2322 {
  position:absolute;
  left:997px;
  top:249px;
  width:61px;
  height:1px;
}
#u2323 {
  position:absolute;
  left:2px;
  top:-8px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2324 {
  position:absolute;
  left:1058px;
  top:40px;
  width:360px;
  height:16px;
}
#u2325 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  white-space:nowrap;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2326 {
  position:absolute;
  left:522px;
  top:838px;
  width:378px;
  height:64px;
}
#u2327 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  word-wrap:break-word;
}
#u2328 {
  position:absolute;
  left:97px;
  top:298px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u2328_seg0 {
  position:absolute;
  left:-4px;
  top:-15px;
  width:8px;
  height:15px;
}
#u2328_seg1 {
  position:absolute;
  left:-4px;
  top:-15px;
  width:383px;
  height:8px;
}
#u2328_seg2 {
  position:absolute;
  left:371px;
  top:-84px;
  width:8px;
  height:77px;
}
#u2328_seg3 {
  position:absolute;
  left:371px;
  top:-84px;
  width:51px;
  height:8px;
}
#u2328_seg4 {
  position:absolute;
  left:414px;
  top:-82px;
  width:8px;
  height:6px;
}
#u2328_seg5 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2329 {
  position:absolute;
  left:189px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330 {
  position:absolute;
  left:393px;
  top:710px;
  width:23px;
  height:16px;
}
#u2331 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2332 {
  position:absolute;
  left:337px;
  top:807px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u2332_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u2332_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:192px;
  height:8px;
}
#u2332_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2333 {
  position:absolute;
  left:24px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334 {
  position:absolute;
  left:434px;
  top:717px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u2334_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:29px;
  height:8px;
}
#u2334_seg1 {
  position:absolute;
  left:21px;
  top:-4px;
  width:8px;
  height:49px;
}
#u2334_seg2 {
  position:absolute;
  left:21px;
  top:37px;
  width:65px;
  height:8px;
}
#u2334_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2335 {
  position:absolute;
  left:-25px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
