body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1147px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:78px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12861 {
  position:absolute;
  left:50px;
  top:50px;
  width:1097px;
  height:78px;
}
#u12862 {
  position:absolute;
  left:2px;
  top:31px;
  width:1093px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:38px;
}
#u12863 {
  position:absolute;
  left:65px;
  top:70px;
  width:400px;
  height:38px;
}
#u12864 {
  position:absolute;
  left:2px;
  top:11px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12865 {
  position:absolute;
  left:1003px;
  top:75px;
  width:30px;
  height:30px;
}
#u12866 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12867 {
  position:absolute;
  left:1105px;
  top:75px;
  width:30px;
  height:30px;
}
#u12868 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:30px;
}
#u12869 {
  position:absolute;
  left:1057px;
  top:75px;
  width:24px;
  height:30px;
}
#u12870 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:2px;
}
#u12871 {
  position:absolute;
  left:233px;
  top:158px;
  width:908px;
  height:1px;
}
#u12872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12873 {
  position:absolute;
  left:244px;
  top:138px;
  width:765px;
  height:16px;
}
#u12874 {
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  white-space:nowrap;
}
#u12875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:909px;
  height:2px;
}
#u12875 {
  position:absolute;
  left:233px;
  top:158px;
  width:908px;
  height:1px;
}
#u12876 {
  position:absolute;
  left:2px;
  top:-8px;
  width:904px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:901px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12877 {
  position:absolute;
  left:50px;
  top:100px;
  width:173px;
  height:901px;
}
#u12878 {
  position:absolute;
  left:2px;
  top:442px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12879 {
  position:absolute;
  left:50px;
  top:345px;
  width:173px;
  height:38px;
}
#u12880 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12881 {
  position:absolute;
  left:50px;
  top:127px;
  width:173px;
  height:170px;
}
#u12882 {
  position:absolute;
  left:2px;
  top:77px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:147px;
}
#u12883 {
  position:absolute;
  left:59px;
  top:138px;
  width:155px;
  height:147px;
}
#u12884 {
  position:absolute;
  left:2px;
  top:66px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12885 {
  position:absolute;
  left:50px;
  top:307px;
  width:173px;
  height:38px;
}
#u12886 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12887 {
  position:absolute;
  left:62px;
  top:317px;
  width:20px;
  height:20px;
}
#u12888 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12889 {
  position:absolute;
  left:92px;
  top:317px;
  width:57px;
  height:16px;
}
#u12890 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12891 {
  position:absolute;
  left:62px;
  top:354px;
  width:20px;
  height:20px;
}
#u12892 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12893 {
  position:absolute;
  left:92px;
  top:354px;
  width:57px;
  height:16px;
}
#u12894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12895 {
  position:absolute;
  left:50px;
  top:383px;
  width:173px;
  height:38px;
}
#u12896 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12897 {
  position:absolute;
  left:62px;
  top:393px;
  width:20px;
  height:20px;
}
#u12898 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12899 {
  position:absolute;
  left:92px;
  top:393px;
  width:57px;
  height:16px;
}
#u12900 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12901 {
  position:absolute;
  left:50px;
  top:420px;
  width:173px;
  height:38px;
}
#u12902 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12903 {
  position:absolute;
  left:62px;
  top:430px;
  width:20px;
  height:20px;
}
#u12904 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12905 {
  position:absolute;
  left:92px;
  top:430px;
  width:57px;
  height:16px;
}
#u12906 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12907 {
  position:absolute;
  left:50px;
  top:457px;
  width:173px;
  height:38px;
}
#u12908 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12909 {
  position:absolute;
  left:62px;
  top:467px;
  width:20px;
  height:20px;
}
#u12910 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12911 {
  position:absolute;
  left:92px;
  top:467px;
  width:57px;
  height:16px;
}
#u12912 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12913 {
  position:absolute;
  left:50px;
  top:494px;
  width:173px;
  height:38px;
}
#u12914 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12915 {
  position:absolute;
  left:62px;
  top:504px;
  width:20px;
  height:20px;
}
#u12916 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12917 {
  position:absolute;
  left:92px;
  top:504px;
  width:71px;
  height:16px;
}
#u12918 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12919 {
  position:absolute;
  left:50px;
  top:531px;
  width:173px;
  height:38px;
}
#u12920 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12921 {
  position:absolute;
  left:62px;
  top:541px;
  width:20px;
  height:20px;
}
#u12922 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12923 {
  position:absolute;
  left:92px;
  top:541px;
  width:99px;
  height:16px;
}
#u12924 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12925 {
  position:absolute;
  left:50px;
  top:568px;
  width:173px;
  height:38px;
}
#u12926 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12927 {
  position:absolute;
  left:62px;
  top:578px;
  width:20px;
  height:20px;
}
#u12928 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12929 {
  position:absolute;
  left:92px;
  top:578px;
  width:57px;
  height:16px;
}
#u12930 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12931 {
  position:absolute;
  left:50px;
  top:803px;
  width:173px;
  height:38px;
}
#u12932 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12933 {
  position:absolute;
  left:62px;
  top:813px;
  width:20px;
  height:20px;
}
#u12934 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12935 {
  position:absolute;
  left:92px;
  top:813px;
  width:71px;
  height:16px;
}
#u12936 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12937 {
  position:absolute;
  left:50px;
  top:840px;
  width:173px;
  height:38px;
}
#u12938 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12939 {
  position:absolute;
  left:62px;
  top:850px;
  width:20px;
  height:20px;
}
#u12940 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12941 {
  position:absolute;
  left:92px;
  top:850px;
  width:85px;
  height:16px;
}
#u12942 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12943 {
  position:absolute;
  left:50px;
  top:876px;
  width:173px;
  height:38px;
}
#u12944 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12945 {
  position:absolute;
  left:62px;
  top:886px;
  width:20px;
  height:20px;
}
#u12946 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12947 {
  position:absolute;
  left:92px;
  top:886px;
  width:57px;
  height:16px;
}
#u12948 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12949 {
  position:absolute;
  left:50px;
  top:913px;
  width:173px;
  height:38px;
}
#u12950 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12951 {
  position:absolute;
  left:92px;
  top:923px;
  width:57px;
  height:16px;
}
#u12952 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12953 {
  position:absolute;
  left:50px;
  top:950px;
  width:173px;
  height:38px;
}
#u12954 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12955 {
  position:absolute;
  left:62px;
  top:960px;
  width:20px;
  height:20px;
}
#u12956 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12957 {
  position:absolute;
  left:92px;
  top:960px;
  width:57px;
  height:16px;
}
#u12958 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12959 {
  position:absolute;
  left:62px;
  top:921px;
  width:20px;
  height:20px;
}
#u12960 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:464px;
}
#u12961 {
  position:absolute;
  left:244px;
  top:179px;
  width:891px;
  height:464px;
}
#u12962 {
  position:absolute;
  left:2px;
  top:224px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:27px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12963 {
  position:absolute;
  left:622px;
  top:738px;
  width:64px;
  height:27px;
  color:#666666;
}
#u12964 {
  position:absolute;
  left:2px;
  top:6px;
  width:60px;
  word-wrap:break-word;
}
#u12965 {
  position:absolute;
  left:251px;
  top:516px;
  width:889px;
  height:155px;
}
#u12966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u12966 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u12967 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u12968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u12968 {
  position:absolute;
  left:73px;
  top:0px;
  width:271px;
  height:30px;
}
#u12969 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u12970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
}
#u12970 {
  position:absolute;
  left:344px;
  top:0px;
  width:294px;
  height:30px;
}
#u12971 {
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  word-wrap:break-word;
}
#u12972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u12972 {
  position:absolute;
  left:638px;
  top:0px;
  width:246px;
  height:30px;
}
#u12973 {
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
#u12974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u12974 {
  position:absolute;
  left:0px;
  top:30px;
  width:73px;
  height:30px;
}
#u12975 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u12976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u12976 {
  position:absolute;
  left:73px;
  top:30px;
  width:271px;
  height:30px;
}
#u12977 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u12978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
}
#u12978 {
  position:absolute;
  left:344px;
  top:30px;
  width:294px;
  height:30px;
}
#u12979 {
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  word-wrap:break-word;
}
#u12980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u12980 {
  position:absolute;
  left:638px;
  top:30px;
  width:246px;
  height:30px;
}
#u12981 {
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
#u12982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u12982 {
  position:absolute;
  left:0px;
  top:60px;
  width:73px;
  height:30px;
}
#u12983 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u12984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u12984 {
  position:absolute;
  left:73px;
  top:60px;
  width:271px;
  height:30px;
}
#u12985 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u12986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
}
#u12986 {
  position:absolute;
  left:344px;
  top:60px;
  width:294px;
  height:30px;
}
#u12987 {
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  word-wrap:break-word;
}
#u12988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u12988 {
  position:absolute;
  left:638px;
  top:60px;
  width:246px;
  height:30px;
}
#u12989 {
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
#u12990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u12990 {
  position:absolute;
  left:0px;
  top:90px;
  width:73px;
  height:30px;
}
#u12991 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u12992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u12992 {
  position:absolute;
  left:73px;
  top:90px;
  width:271px;
  height:30px;
}
#u12993 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u12994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
}
#u12994 {
  position:absolute;
  left:344px;
  top:90px;
  width:294px;
  height:30px;
}
#u12995 {
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  word-wrap:break-word;
}
#u12996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u12996 {
  position:absolute;
  left:638px;
  top:90px;
  width:246px;
  height:30px;
}
#u12997 {
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
#u12998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u12998 {
  position:absolute;
  left:0px;
  top:120px;
  width:73px;
  height:30px;
}
#u12999 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u13000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
}
#u13000 {
  position:absolute;
  left:73px;
  top:120px;
  width:271px;
  height:30px;
}
#u13001 {
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  word-wrap:break-word;
}
#u13002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
}
#u13002 {
  position:absolute;
  left:344px;
  top:120px;
  width:294px;
  height:30px;
}
#u13003 {
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  word-wrap:break-word;
}
#u13004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:30px;
}
#u13004 {
  position:absolute;
  left:638px;
  top:120px;
  width:246px;
  height:30px;
}
#u13005 {
  position:absolute;
  left:2px;
  top:7px;
  width:242px;
  word-wrap:break-word;
}
#u13006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13006 {
  position:absolute;
  left:50px;
  top:606px;
  width:173px;
  height:38px;
}
#u13007 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13008 {
  position:absolute;
  left:62px;
  top:616px;
  width:20px;
  height:20px;
}
#u13009 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13010 {
  position:absolute;
  left:92px;
  top:616px;
  width:85px;
  height:16px;
}
#u13011 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u13012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u13012 {
  position:absolute;
  left:50px;
  top:719px;
  width:173px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u13013 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  word-wrap:break-word;
}
#u13014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13014 {
  position:absolute;
  left:50px;
  top:682px;
  width:173px;
  height:38px;
  text-align:left;
}
#u13015 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  word-wrap:break-word;
}
#u13016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13016 {
  position:absolute;
  left:50px;
  top:756px;
  width:173px;
  height:38px;
  text-align:left;
}
#u13017 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  word-wrap:break-word;
}
#u13018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13018 {
  position:absolute;
  left:50px;
  top:644px;
  width:173px;
  height:38px;
}
#u13019 {
  position:absolute;
  left:2px;
  top:11px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13020 {
  position:absolute;
  left:62px;
  top:654px;
  width:20px;
  height:20px;
}
#u13021 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u13022 {
  position:absolute;
  left:92px;
  top:654px;
  width:85px;
  height:16px;
  color:#FFFFFF;
}
#u13023 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
