body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:909px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:77px;
}
#u1046 {
  position:absolute;
  left:490px;
  top:202px;
  width:300px;
  height:77px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:30px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(65, 47, 99, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1048 {
  position:absolute;
  left:71px;
  top:115px;
  width:80px;
  height:28px;
  color:#FFFFFF;
}
#u1049 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(65, 47, 99, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1050 {
  position:absolute;
  left:600px;
  top:115px;
  width:80px;
  height:28px;
  color:#FFFFFF;
}
#u1051 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u1052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1052 {
  position:absolute;
  left:64px;
  top:181px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u1053 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1054 {
  position:absolute;
  left:68px;
  top:307px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u1055 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1056 {
  position:absolute;
  left:506px;
  top:222px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u1057 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:33px;
  background:inherit;
  background-color:rgba(50, 96, 138, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1058 {
  position:absolute;
  left:666px;
  top:222px;
  width:94px;
  height:33px;
  color:#FFFFFF;
}
#u1059 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:29px;
  background:inherit;
  background-color:rgba(0, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1060 {
  position:absolute;
  left:550px;
  top:362px;
  width:180px;
  height:29px;
  color:#FFFFFF;
}
#u1061 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:137px;
  height:106px;
}
#u1062 {
  position:absolute;
  left:179px;
  top:279px;
  width:117px;
  height:86px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:11px;
  width:113px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:137px;
  height:106px;
}
#u1064 {
  position:absolute;
  left:168px;
  top:155px;
  width:117px;
  height:86px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:19px;
  width:113px;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:285px;
  top:198px;
  width:0px;
  height:0px;
}
#u1066_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1066_seg1 {
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:51px;
}
#u1066_seg2 {
  position:absolute;
  left:65px;
  top:39px;
  width:140px;
  height:8px;
}
#u1067 {
  position:absolute;
  left:31px;
  top:35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068 {
  position:absolute;
  left:296px;
  top:322px;
  width:0px;
  height:0px;
}
#u1068_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u1068_seg1 {
  position:absolute;
  left:53px;
  top:-85px;
  width:8px;
  height:89px;
}
#u1068_seg2 {
  position:absolute;
  left:53px;
  top:-85px;
  width:141px;
  height:8px;
}
#u1068_seg3 {
  position:absolute;
  left:180px;
  top:-91px;
  width:21px;
  height:20px;
}
#u1069 {
  position:absolute;
  left:7px;
  top:-88px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070 {
  position:absolute;
  left:640px;
  top:279px;
  width:0px;
  height:0px;
}
#u1070_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u1070_seg1 {
  position:absolute;
  left:-10px;
  top:69px;
  width:20px;
  height:21px;
}
#u1071 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  height:43px;
}
#u1072 {
  position:absolute;
  left:40px;
  top:51px;
  width:869px;
  height:43px;
  font-size:14px;
}
#u1073 {
  position:absolute;
  left:0px;
  top:0px;
  width:869px;
  word-wrap:break-word;
}
#u1074 {
  position:absolute;
  left:640px;
  top:143px;
  width:0px;
  height:0px;
}
#u1074_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1074_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:21px;
}
#u1075 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
