body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:634px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8953 {
  position:absolute;
  left:18px;
  top:28px;
  width:680px;
  height:634px;
}
#u8954 {
  position:absolute;
  left:2px;
  top:309px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8955 {
  position:absolute;
  left:80px;
  top:84px;
  width:606px;
  height:32px;
  text-align:left;
}
#u8956 {
  position:absolute;
  left:2px;
  top:8px;
  width:602px;
  word-wrap:break-word;
}
#u8957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8957 {
  position:absolute;
  left:637px;
  top:92px;
  width:45px;
  height:16px;
  text-align:center;
}
#u8958 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u8959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8959 {
  position:absolute;
  left:80px;
  top:115px;
  width:606px;
  height:463px;
}
#u8960 {
  position:absolute;
  left:2px;
  top:224px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8961 {
  position:absolute;
  left:100px;
  top:134px;
  width:57px;
  height:16px;
}
#u8962 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8963 {
  position:absolute;
  left:167px;
  top:126px;
  width:141px;
  height:32px;
}
#u8964 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8965 {
  position:absolute;
  left:339px;
  top:127px;
  width:57px;
  height:31px;
  color:#FFFFFF;
}
#u8966 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u8967 {
  position:absolute;
  left:100px;
  top:180px;
  width:475px;
  height:95px;
}
#u8968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u8968 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u8969 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u8970 {
  position:absolute;
  left:70px;
  top:0px;
  width:280px;
  height:30px;
}
#u8971 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u8972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8972 {
  position:absolute;
  left:350px;
  top:0px;
  width:120px;
  height:30px;
}
#u8973 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u8974 {
  position:absolute;
  left:0px;
  top:30px;
  width:70px;
  height:30px;
}
#u8975 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u8976 {
  position:absolute;
  left:70px;
  top:30px;
  width:280px;
  height:30px;
  color:#008000;
  text-align:left;
}
#u8977 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u8978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8978 {
  position:absolute;
  left:350px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u8979 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u8980 {
  position:absolute;
  left:0px;
  top:60px;
  width:70px;
  height:30px;
}
#u8981 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u8982 {
  position:absolute;
  left:70px;
  top:60px;
  width:280px;
  height:30px;
  color:#008000;
  text-align:left;
}
#u8983 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u8984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u8984 {
  position:absolute;
  left:350px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u8985 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u8986 {
  position:absolute;
  left:107px;
  top:188px;
  width:58px;
  height:16px;
}
#u8987 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u8986_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8988 {
  position:absolute;
  left:107px;
  top:219px;
  width:58px;
  height:16px;
}
#u8989 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u8988_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8990 {
  position:absolute;
  left:107px;
  top:249px;
  width:58px;
  height:16px;
}
#u8991 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u8990_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8992 {
  position:absolute;
  left:121px;
  top:428px;
  width:191px;
  height:16px;
}
#u8993 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u8994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8994 {
  position:absolute;
  left:314px;
  top:423px;
  width:78px;
  height:26px;
  text-align:left;
}
#u8995 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u8996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8996 {
  position:absolute;
  left:377px;
  top:431px;
  width:10px;
  height:10px;
}
#u8997 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8998 {
  position:absolute;
  left:397px;
  top:423px;
  width:41px;
  height:26px;
}
#u8999 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u9000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9000 {
  position:absolute;
  left:448px;
  top:423px;
  width:56px;
  height:26px;
}
#u9001 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u9002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9002 {
  position:absolute;
  left:514px;
  top:423px;
  width:27px;
  height:26px;
}
#u9003 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u9004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9004 {
  position:absolute;
  left:551px;
  top:423px;
  width:56px;
  height:26px;
}
#u9005 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u9006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9006 {
  position:absolute;
  left:617px;
  top:423px;
  width:56px;
  height:26px;
}
#u9007 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u9008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9008 {
  position:absolute;
  left:295px;
  top:501px;
  width:57px;
  height:31px;
  color:#FFFFFF;
}
#u9009 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u9010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9010 {
  position:absolute;
  left:374px;
  top:501px;
  width:57px;
  height:31px;
  color:#1E1E1E;
}
#u9011 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u9012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9012 {
  position:absolute;
  left:810px;
  top:219px;
  width:490px;
  height:64px;
}
#u9013 {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  white-space:nowrap;
}
#u9014_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:262px;
  height:21px;
}
#u9014p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:253px;
  height:1px;
}
#u9014p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:264px;
  height:21px;
}
#u9014p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u9014p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u9014p002 {
  position:absolute;
  left:250px;
  top:0px;
  width:2px;
  height:1px;
}
#u9014p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u9014.compound {
  width:0px;
  height:0px;
}
#u9014 {
  position:absolute;
  left:570px;
  top:225px;
  width:251px;
  height:1px;
}
#u9015 {
  position:absolute;
  left:2px;
  top:-8px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9016 {
  position:absolute;
  left:810px;
  top:262px;
  width:0px;
  height:0px;
}
#u9016_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u9016_seg1 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:30px;
}
#u9016_seg2 {
  position:absolute;
  left:-567px;
  top:18px;
  width:501px;
  height:8px;
}
#u9016_seg3 {
  position:absolute;
  left:-567px;
  top:-3px;
  width:8px;
  height:29px;
}
#u9016_seg4 {
  position:absolute;
  left:-573px;
  top:-10px;
  width:20px;
  height:20px;
}
#u9017 {
  position:absolute;
  left:-333px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
