body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1502px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:715px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3689 {
  position:absolute;
  left:49px;
  top:52px;
  width:375px;
  height:715px;
}
#u3690 {
  position:absolute;
  left:2px;
  top:350px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u3691 {
  position:absolute;
  left:49px;
  top:52px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u3692 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3693 {
  position:absolute;
  left:130px;
  top:86px;
  width:182px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3694 {
  position:absolute;
  left:2px;
  top:-2px;
  width:178px;
  word-wrap:break-word;
}
#u3695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u3695 {
  position:absolute;
  left:63px;
  top:84px;
  width:12px;
  height:20px;
}
#u3696 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:594px;
}
#u3697 {
  position:absolute;
  left:49px;
  top:138px;
  width:375px;
  height:593px;
}
#u3698 {
  position:absolute;
  left:2px;
  top:288px;
  width:371px;
  word-wrap:break-word;
}
#u3699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3699 {
  position:absolute;
  left:49px;
  top:731px;
  width:375px;
  height:36px;
  color:#FFFFFF;
}
#u3700 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u3701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:715px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3702 {
  position:absolute;
  left:689px;
  top:52px;
  width:375px;
  height:715px;
}
#u3703 {
  position:absolute;
  left:2px;
  top:350px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u3704 {
  position:absolute;
  left:689px;
  top:52px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u3705 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3706 {
  position:absolute;
  left:770px;
  top:86px;
  width:182px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3707 {
  position:absolute;
  left:2px;
  top:-2px;
  width:178px;
  word-wrap:break-word;
}
#u3708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u3708 {
  position:absolute;
  left:703px;
  top:84px;
  width:12px;
  height:20px;
}
#u3709 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:594px;
}
#u3710 {
  position:absolute;
  left:689px;
  top:138px;
  width:375px;
  height:593px;
}
#u3711 {
  position:absolute;
  left:2px;
  top:288px;
  width:371px;
  word-wrap:break-word;
}
#u3712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3712 {
  position:absolute;
  left:794px;
  top:731px;
  width:270px;
  height:36px;
  color:#FFFFFF;
}
#u3713 {
  position:absolute;
  left:2px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u3714_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:275px;
  height:21px;
}
#u3714p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:267px;
  height:1px;
}
#u3714p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:277px;
  height:21px;
}
#u3714p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u3714p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u3714p002 {
  position:absolute;
  left:251px;
  top:-11px;
  width:22px;
  height:22px;
}
#u3714p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u3714.compound {
  width:0px;
  height:0px;
}
#u3714 {
  position:absolute;
  left:424px;
  top:384px;
  width:265px;
  height:1px;
}
#u3715 {
  position:absolute;
  left:2px;
  top:-8px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3716 {
  position:absolute;
  left:499px;
  top:365px;
  width:80px;
  height:33px;
}
#u3717 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3718 {
  position:absolute;
  left:689px;
  top:731px;
  width:105px;
  height:36px;
}
#u3719 {
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  word-wrap:break-word;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3720 {
  position:absolute;
  left:1115px;
  top:741px;
  width:387px;
  height:16px;
}
#u3721 {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  white-space:nowrap;
}
#u3722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:2px;
}
#u3722 {
  position:absolute;
  left:1058px;
  top:749px;
  width:57px;
  height:1px;
}
#u3723 {
  position:absolute;
  left:2px;
  top:-8px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3724 {
  position:absolute;
  left:380px;
  top:76px;
  width:30px;
  height:30px;
}
#u3725 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3726 {
  position:absolute;
  left:1028px;
  top:76px;
  width:30px;
  height:30px;
}
#u3727 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  position:absolute;
  left:468px;
  top:87px;
  width:169px;
  height:32px;
}
#u3729 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u3730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:2px;
}
#u3730 {
  position:absolute;
  left:637px;
  top:95px;
  width:66px;
  height:1px;
}
#u3731 {
  position:absolute;
  left:2px;
  top:-8px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
