body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1056px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:432px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2360 {
  position:absolute;
  left:13px;
  top:13px;
  width:510px;
  height:432px;
}
#u2361 {
  position:absolute;
  left:2px;
  top:208px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2362 {
  position:absolute;
  left:114px;
  top:152px;
  width:300px;
  height:154px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2364 {
  position:absolute;
  left:236px;
  top:179px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2365 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2366 {
  position:absolute;
  left:225px;
  top:269px;
  width:79px;
  height:32px;
  color:#FFFFFF;
}
#u2367 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2368 {
  position:absolute;
  left:146px;
  top:207px;
  width:242px;
  height:48px;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u2370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:2px;
}
#u2370 {
  position:absolute;
  left:414px;
  top:197px;
  width:167px;
  height:1px;
}
#u2371 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2372 {
  position:absolute;
  left:597px;
  top:179px;
  width:459px;
  height:176px;
}
#u2373 {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  word-wrap:break-word;
}
