body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1021px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:387px;
  height:96px;
}
#u7210 {
  position:absolute;
  left:598px;
  top:521px;
  width:387px;
  height:96px;
}
#u7211 {
  position:absolute;
  left:2px;
  top:40px;
  width:383px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:483px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7212 {
  position:absolute;
  left:16px;
  top:50px;
  width:530px;
  height:483px;
}
#u7213 {
  position:absolute;
  left:2px;
  top:234px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7214 {
  position:absolute;
  left:81px;
  top:163px;
  width:400px;
  height:35px;
  text-align:left;
}
#u7215 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u7216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7216 {
  position:absolute;
  left:438px;
  top:173px;
  width:37px;
  height:16px;
  text-align:center;
}
#u7217 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u7218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:251px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7218 {
  position:absolute;
  left:81px;
  top:197px;
  width:400px;
  height:251px;
  text-align:left;
}
#u7219 {
  position:absolute;
  left:2px;
  top:118px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u7220 {
  position:absolute;
  left:86px;
  top:221px;
  width:99px;
  height:16px;
}
#u7221 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u7222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7222 {
  position:absolute;
  left:167px;
  top:380px;
  width:82px;
  height:32px;
  color:#FFFFFF;
}
#u7223 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u7224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7224 {
  position:absolute;
  left:287px;
  top:380px;
  width:82px;
  height:32px;
}
#u7225 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u7226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7226 {
  position:absolute;
  left:195px;
  top:221px;
  width:272px;
  height:83px;
  text-align:left;
}
#u7227 {
  position:absolute;
  left:2px;
  top:2px;
  width:268px;
  word-wrap:break-word;
}
#u7228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7228 {
  position:absolute;
  left:420px;
  top:281px;
  width:29px;
  height:16px;
}
#u7229 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7230 {
  position:absolute;
  left:598px;
  top:227px;
  width:423px;
  height:32px;
}
#u7231 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u7232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u7232 {
  position:absolute;
  left:467px;
  top:236px;
  width:131px;
  height:1px;
}
#u7233 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7234 {
  position:absolute;
  left:81px;
  top:322px;
  width:104px;
  height:16px;
}
#u7235 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7236 {
  position:absolute;
  left:195px;
  top:322px;
  width:272px;
  height:30px;
  text-align:left;
}
#u7237 {
  position:absolute;
  left:2px;
  top:7px;
  width:268px;
  word-wrap:break-word;
}
#u7238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7238 {
  position:absolute;
  left:598px;
  top:320px;
  width:423px;
  height:32px;
}
#u7239 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u7240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:2px;
}
#u7240 {
  position:absolute;
  left:467px;
  top:329px;
  width:131px;
  height:1px;
}
#u7241 {
  position:absolute;
  left:2px;
  top:-8px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7242 {
  position:absolute;
  left:598px;
  top:415px;
  width:371px;
  height:96px;
}
#u7243 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u7244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7244 {
  position:absolute;
  left:626px;
  top:551px;
  width:57px;
  height:16px;
}
#u7245 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7246 {
  position:absolute;
  left:693px;
  top:544px;
  width:244px;
  height:30px;
  text-align:left;
}
#u7247 {
  position:absolute;
  left:2px;
  top:7px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u7248 {
  position:absolute;
  left:693px;
  top:584px;
  width:113px;
  height:16px;
  color:#FF0000;
}
#u7249 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7250 {
  position:absolute;
  left:208px;
  top:412px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u7250_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:15px;
}
#u7250_seg1 {
  position:absolute;
  left:-4px;
  top:7px;
  width:389px;
  height:8px;
}
#u7250_seg2 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:20px;
}
#u7251 {
  position:absolute;
  left:137px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
