body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1907 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:667px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1909 {
  position:absolute;
  left:349px;
  top:24px;
  width:1px;
  height:16px;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1911 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u1912 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1913 {
  position:absolute;
  left:148px;
  top:44px;
  width:182px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1914 {
  position:absolute;
  left:2px;
  top:-2px;
  width:178px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1915 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:20px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1917 {
  position:absolute;
  left:49px;
  top:73px;
  width:375px;
  height:1px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1919 {
  position:absolute;
  left:63px;
  top:42px;
  width:12px;
  height:20px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 152, 152, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1921 {
  position:absolute;
  left:49px;
  top:73px;
  width:125px;
  height:34px;
  color:#FFFFFF;
}
#u1922 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1923 {
  position:absolute;
  left:174px;
  top:73px;
  width:125px;
  height:34px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1925 {
  position:absolute;
  left:299px;
  top:73px;
  width:125px;
  height:34px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:2px;
}
#u1927 {
  position:absolute;
  left:49px;
  top:135px;
  width:362px;
  height:1px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1929 {
  position:absolute;
  left:376px;
  top:110px;
  width:25px;
  height:25px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1932 {
  position:absolute;
  left:100px;
  top:114px;
  width:29px;
  height:16px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:6px;
}
#u1934 {
  position:absolute;
  left:129px;
  top:120px;
  width:12px;
  height:6px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:-5px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:195px;
  top:114px;
  width:29px;
  height:16px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:6px;
}
#u1938 {
  position:absolute;
  left:224px;
  top:120px;
  width:12px;
  height:6px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:-5px;
  width:8px;
  visibility:hidden;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  word-wrap:break-word;
  transform-origin:4px 8px;
  -ms-transform-origin:4px 8px;
  -moz-transform-origin:4px 8px;
  -webkit-transform-origin:4px 8px;
}
#u1940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:542px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1940 {
  position:absolute;
  left:49px;
  top:135px;
  width:375px;
  height:542px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:263px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1942 {
  position:absolute;
  left:120px;
  top:414px;
  width:233px;
  height:16px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  white-space:nowrap;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u1944 {
  position:absolute;
  left:194px;
  top:343px;
  width:50px;
  height:41px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
