body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:698px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:634px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12454 {
  position:absolute;
  left:18px;
  top:28px;
  width:680px;
  height:634px;
}
#u12455 {
  position:absolute;
  left:2px;
  top:309px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:581px;
}
#u12456 {
  position:absolute;
  left:79px;
  top:52px;
  width:566px;
  height:581px;
}
#u12457 {
  position:absolute;
  left:2px;
  top:282px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
