body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1621px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:644px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8675 {
  position:absolute;
  left:18px;
  top:28px;
  width:737px;
  height:644px;
}
#u8676 {
  position:absolute;
  left:2px;
  top:314px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8677 {
  position:absolute;
  left:85px;
  top:96px;
  width:605px;
  height:35px;
  text-align:left;
}
#u8678 {
  position:absolute;
  left:2px;
  top:10px;
  width:601px;
  word-wrap:break-word;
}
#u8679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8679 {
  position:absolute;
  left:636px;
  top:106px;
  width:36px;
  height:16px;
  text-align:center;
}
#u8680 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u8681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8681 {
  position:absolute;
  left:85px;
  top:130px;
  width:605px;
  height:495px;
}
#u8682 {
  position:absolute;
  left:2px;
  top:240px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8683 {
  position:absolute;
  left:296px;
  top:143px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u8684 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u8685 {
  position:absolute;
  left:126px;
  top:209px;
  width:475px;
  height:1px;
}
#u8686 {
  position:absolute;
  left:2px;
  top:-8px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8687 {
  position:absolute;
  left:190px;
  top:183px;
  width:93px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8688 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u8689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8689 {
  position:absolute;
  left:427px;
  top:183px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u8690 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u8691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8691 {
  position:absolute;
  left:444px;
  top:182px;
  width:84px;
  height:19px;
  font-size:16px;
}
#u8692 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u8693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u8693 {
  position:absolute;
  left:372px;
  top:175px;
  width:1px;
  height:27px;
}
#u8694 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8695 {
  position:absolute;
  left:126px;
  top:228px;
  width:555px;
  height:95px;
}
#u8696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8696 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8697 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u8698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u8698 {
  position:absolute;
  left:50px;
  top:0px;
  width:500px;
  height:30px;
}
#u8699 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u8700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8700 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u8701 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u8702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u8702 {
  position:absolute;
  left:50px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u8703 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u8704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8704 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
}
#u8705 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u8706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u8706 {
  position:absolute;
  left:50px;
  top:60px;
  width:500px;
  height:30px;
  text-align:left;
}
#u8707 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u8708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:644px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8708 {
  position:absolute;
  left:884px;
  top:28px;
  width:737px;
  height:644px;
}
#u8709 {
  position:absolute;
  left:2px;
  top:314px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8710 {
  position:absolute;
  left:951px;
  top:96px;
  width:605px;
  height:35px;
  text-align:left;
}
#u8711 {
  position:absolute;
  left:2px;
  top:10px;
  width:601px;
  word-wrap:break-word;
}
#u8712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8712 {
  position:absolute;
  left:1502px;
  top:106px;
  width:36px;
  height:16px;
  text-align:center;
}
#u8713 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u8714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8714 {
  position:absolute;
  left:951px;
  top:130px;
  width:605px;
  height:495px;
}
#u8715 {
  position:absolute;
  left:2px;
  top:240px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8716 {
  position:absolute;
  left:1162px;
  top:143px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u8717 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u8718 {
  position:absolute;
  left:992px;
  top:209px;
  width:475px;
  height:1px;
}
#u8719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8720 {
  position:absolute;
  left:1056px;
  top:183px;
  width:93px;
  height:19px;
  font-size:16px;
}
#u8721 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u8722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8722 {
  position:absolute;
  left:1293px;
  top:183px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u8723 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u8724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8724 {
  position:absolute;
  left:1310px;
  top:182px;
  width:84px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8725 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  white-space:nowrap;
}
#u8726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u8726 {
  position:absolute;
  left:1238px;
  top:175px;
  width:1px;
  height:27px;
}
#u8727 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8728 {
  position:absolute;
  left:1183px;
  top:265px;
  width:127px;
  height:16px;
}
#u8729 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
