body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:330px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3683 {
  position:absolute;
  left:16px;
  top:0px;
  width:530px;
  height:330px;
}
#u3684 {
  position:absolute;
  left:2px;
  top:157px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3685 {
  position:absolute;
  left:81px;
  top:60px;
  width:400px;
  height:35px;
  text-align:left;
}
#u3686 {
  position:absolute;
  left:2px;
  top:10px;
  width:396px;
  word-wrap:break-word;
}
#u3687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u3687 {
  position:absolute;
  left:438px;
  top:70px;
  width:37px;
  height:16px;
  text-align:center;
}
#u3688 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u3689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3689 {
  position:absolute;
  left:81px;
  top:94px;
  width:400px;
  height:125px;
  text-align:left;
}
#u3690 {
  position:absolute;
  left:2px;
  top:54px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u3691 {
  position:absolute;
  left:95px;
  top:126px;
  width:100px;
  height:16px;
}
#u3692 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u3693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3693 {
  position:absolute;
  left:205px;
  top:118px;
  width:198px;
  height:32px;
  text-align:left;
}
#u3694 {
  position:absolute;
  left:2px;
  top:8px;
  width:194px;
  word-wrap:break-word;
}
#u3695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3695 {
  position:absolute;
  left:171px;
  top:175px;
  width:82px;
  height:32px;
  color:#FFFFFF;
}
#u3696 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u3697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3697 {
  position:absolute;
  left:291px;
  top:175px;
  width:82px;
  height:32px;
}
#u3698 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u3699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3699 {
  position:absolute;
  left:596px;
  top:126px;
  width:384px;
  height:16px;
}
#u3700 {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  white-space:nowrap;
}
#u3701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:2px;
}
#u3701 {
  position:absolute;
  left:475px;
  top:134px;
  width:121px;
  height:1px;
}
#u3702 {
  position:absolute;
  left:2px;
  top:-8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
