body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:714px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:684px;
  height:359px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7624 {
  position:absolute;
  left:30px;
  top:38px;
  width:684px;
  height:359px;
}
#u7625 {
  position:absolute;
  left:2px;
  top:172px;
  width:680px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:34px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7626 {
  position:absolute;
  left:92px;
  top:92px;
  width:560px;
  height:34px;
  text-align:left;
}
#u7627 {
  position:absolute;
  left:2px;
  top:9px;
  width:556px;
  word-wrap:break-word;
}
#u7628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u7628 {
  position:absolute;
  left:614px;
  top:97px;
  width:14px;
  height:24px;
  font-size:20px;
  color:#666666;
  text-align:center;
}
#u7629 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u7630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7630 {
  position:absolute;
  left:92px;
  top:126px;
  width:560px;
  height:170px;
}
#u7631 {
  position:absolute;
  left:2px;
  top:77px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7632 {
  position:absolute;
  left:141px;
  top:178px;
  width:477px;
  height:16px;
}
#u7633 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u7634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7634 {
  position:absolute;
  left:289px;
  top:236px;
  width:65px;
  height:31px;
  color:#FFFFFF;
}
#u7635 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7636 {
  position:absolute;
  left:390px;
  top:236px;
  width:65px;
  height:31px;
}
#u7637 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
