body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1056px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:432px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2506 {
  position:absolute;
  left:13px;
  top:13px;
  width:510px;
  height:432px;
}
#u2507 {
  position:absolute;
  left:2px;
  top:208px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2508 {
  position:absolute;
  left:114px;
  top:152px;
  width:300px;
  height:154px;
}
#u2509 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2510 {
  position:absolute;
  left:236px;
  top:179px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2511 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2512 {
  position:absolute;
  left:225px;
  top:269px;
  width:79px;
  height:32px;
  color:#FFFFFF;
}
#u2513 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2514 {
  position:absolute;
  left:146px;
  top:207px;
  width:242px;
  height:48px;
}
#u2515 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u2516_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:178px;
  height:21px;
}
#u2516p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:169px;
  height:1px;
}
#u2516p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:180px;
  height:21px;
}
#u2516p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2516p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u2516p002 {
  position:absolute;
  left:166px;
  top:0px;
  width:2px;
  height:1px;
}
#u2516p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u2516.compound {
  width:0px;
  height:0px;
}
#u2516 {
  position:absolute;
  left:414px;
  top:197px;
  width:167px;
  height:1px;
}
#u2517 {
  position:absolute;
  left:2px;
  top:-8px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2518 {
  position:absolute;
  left:597px;
  top:179px;
  width:459px;
  height:224px;
}
#u2519 {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  word-wrap:break-word;
}
