body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:644px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7701 {
  position:absolute;
  left:18px;
  top:28px;
  width:737px;
  height:644px;
}
#u7702 {
  position:absolute;
  left:2px;
  top:314px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7703 {
  position:absolute;
  left:85px;
  top:96px;
  width:605px;
  height:35px;
  text-align:left;
}
#u7704 {
  position:absolute;
  left:2px;
  top:10px;
  width:601px;
  word-wrap:break-word;
}
#u7705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7705 {
  position:absolute;
  left:636px;
  top:106px;
  width:36px;
  height:16px;
  text-align:center;
}
#u7706 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u7707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7707 {
  position:absolute;
  left:85px;
  top:130px;
  width:605px;
  height:495px;
}
#u7708 {
  position:absolute;
  left:2px;
  top:240px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u7709 {
  position:absolute;
  left:296px;
  top:143px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u7710 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u7711 {
  position:absolute;
  left:126px;
  top:209px;
  width:475px;
  height:1px;
}
#u7712 {
  position:absolute;
  left:2px;
  top:-8px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7713 {
  position:absolute;
  left:190px;
  top:183px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u7714 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7715 {
  position:absolute;
  left:427px;
  top:183px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u7716 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u7717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u7717 {
  position:absolute;
  left:444px;
  top:182px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u7718 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u7719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u7719 {
  position:absolute;
  left:372px;
  top:175px;
  width:1px;
  height:27px;
}
#u7720 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7721 {
  position:absolute;
  left:126px;
  top:265px;
  width:555px;
  height:125px;
}
#u7722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u7722 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u7723 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u7724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u7724 {
  position:absolute;
  left:50px;
  top:0px;
  width:500px;
  height:30px;
  text-align:left;
}
#u7725 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u7726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u7726 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u7727 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u7728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u7728 {
  position:absolute;
  left:50px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u7729 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u7730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u7730 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
}
#u7731 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u7732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u7732 {
  position:absolute;
  left:50px;
  top:60px;
  width:500px;
  height:30px;
  text-align:left;
}
#u7733 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u7734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u7734 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
}
#u7735 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u7736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u7736 {
  position:absolute;
  left:50px;
  top:90px;
  width:500px;
  height:30px;
  text-align:left;
}
#u7737 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u7738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7738 {
  position:absolute;
  left:126px;
  top:239px;
  width:93px;
  height:16px;
}
#u7739 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
