body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1101px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:293px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6553 {
  position:absolute;
  left:13px;
  top:114px;
  width:510px;
  height:293px;
}
#u6554 {
  position:absolute;
  left:2px;
  top:138px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6555 {
  position:absolute;
  left:114px;
  top:169px;
  width:300px;
  height:154px;
}
#u6556 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6557_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6557 {
  position:absolute;
  left:236px;
  top:196px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6558 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6559_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6559 {
  position:absolute;
  left:167px;
  top:228px;
  width:232px;
  height:48px;
}
#u6560 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u6561_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6561 {
  position:absolute;
  left:225px;
  top:286px;
  width:79px;
  height:32px;
  color:#FFFFFF;
}
#u6562 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u6563_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:293px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6563 {
  position:absolute;
  left:591px;
  top:114px;
  width:510px;
  height:293px;
}
#u6564 {
  position:absolute;
  left:2px;
  top:138px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6565_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6565 {
  position:absolute;
  left:692px;
  top:169px;
  width:300px;
  height:154px;
}
#u6566 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6567_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6567 {
  position:absolute;
  left:814px;
  top:196px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u6568 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u6569_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u6569 {
  position:absolute;
  left:803px;
  top:286px;
  width:79px;
  height:32px;
  color:#FFFFFF;
}
#u6570 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u6571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6571 {
  position:absolute;
  left:753px;
  top:238px;
  width:183px;
  height:16px;
}
#u6572 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
