body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:545px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7651 {
  position:absolute;
  left:50px;
  top:50px;
  width:720px;
  height:545px;
}
#u7652 {
  position:absolute;
  left:2px;
  top:264px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7653 {
  position:absolute;
  left:113px;
  top:127px;
  width:587px;
  height:30px;
  text-align:left;
}
#u7654 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u7655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7655 {
  position:absolute;
  left:113px;
  top:156px;
  width:587px;
  height:287px;
}
#u7656 {
  position:absolute;
  left:2px;
  top:136px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7657 {
  position:absolute;
  left:132px;
  top:179px;
  width:104px;
  height:16px;
  text-align:right;
}
#u7658 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7659 {
  position:absolute;
  left:242px;
  top:179px;
  width:118px;
  height:16px;
}
#u7660 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u7661 {
  position:absolute;
  left:249px;
  top:243px;
  width:91px;
  height:16px;
}
#u7662 {
  position:absolute;
  left:16px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u7661_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7663 {
  position:absolute;
  left:350px;
  top:243px;
  width:56px;
  height:16px;
}
#u7664 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u7663_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7665 {
  position:absolute;
  left:416px;
  top:243px;
  width:86px;
  height:16px;
}
#u7666 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u7665_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7667 {
  position:absolute;
  left:502px;
  top:243px;
  width:86px;
  height:16px;
}
#u7668 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u7667_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7669 {
  position:absolute;
  left:251px;
  top:286px;
  width:98px;
  height:16px;
}
#u7670 {
  position:absolute;
  left:16px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7669_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7671 {
  position:absolute;
  left:366px;
  top:286px;
  width:75px;
  height:16px;
}
#u7672 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u7671_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7673 {
  position:absolute;
  left:450px;
  top:286px;
  width:209px;
  height:16px;
}
#u7674 {
  position:absolute;
  left:16px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u7673_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7675 {
  position:absolute;
  left:113px;
  top:243px;
  width:118px;
  height:16px;
  text-align:right;
}
#u7676 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u7677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7677 {
  position:absolute;
  left:260px;
  top:360px;
  width:65px;
  height:31px;
  color:#FFFFFF;
}
#u7678 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7679 {
  position:absolute;
  left:361px;
  top:360px;
  width:65px;
  height:31px;
}
#u7680 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7681 {
  position:absolute;
  left:658px;
  top:134px;
  width:32px;
  height:16px;
  text-align:center;
}
#u7682 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u7683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7683 {
  position:absolute;
  left:802px;
  top:243px;
  width:447px;
  height:16px;
}
#u7684 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  white-space:nowrap;
}
#u7685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u7685 {
  position:absolute;
  left:642px;
  top:251px;
  width:160px;
  height:1px;
}
#u7686 {
  position:absolute;
  left:2px;
  top:-8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
