body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1249px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:545px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7451 {
  position:absolute;
  left:50px;
  top:50px;
  width:720px;
  height:545px;
}
#u7452 {
  position:absolute;
  left:2px;
  top:264px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u7453 {
  position:absolute;
  left:113px;
  top:127px;
  width:587px;
  height:30px;
  text-align:left;
}
#u7454 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u7455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:287px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7455 {
  position:absolute;
  left:113px;
  top:156px;
  width:587px;
  height:287px;
}
#u7456 {
  position:absolute;
  left:2px;
  top:136px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7457 {
  position:absolute;
  left:132px;
  top:179px;
  width:104px;
  height:16px;
  text-align:right;
}
#u7458 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7459 {
  position:absolute;
  left:242px;
  top:179px;
  width:118px;
  height:16px;
}
#u7460 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u7461 {
  position:absolute;
  left:249px;
  top:243px;
  width:91px;
  height:16px;
}
#u7462 {
  position:absolute;
  left:16px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u7461_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7463 {
  position:absolute;
  left:350px;
  top:243px;
  width:56px;
  height:16px;
}
#u7464 {
  position:absolute;
  left:16px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u7463_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7465 {
  position:absolute;
  left:416px;
  top:243px;
  width:86px;
  height:16px;
}
#u7466 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u7465_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7467 {
  position:absolute;
  left:502px;
  top:243px;
  width:86px;
  height:16px;
}
#u7468 {
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u7467_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7469 {
  position:absolute;
  left:251px;
  top:286px;
  width:98px;
  height:16px;
}
#u7470 {
  position:absolute;
  left:16px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7469_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7471 {
  position:absolute;
  left:366px;
  top:286px;
  width:75px;
  height:16px;
}
#u7472 {
  position:absolute;
  left:16px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u7471_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7473 {
  position:absolute;
  left:450px;
  top:286px;
  width:209px;
  height:16px;
}
#u7474 {
  position:absolute;
  left:16px;
  top:0px;
  width:191px;
  word-wrap:break-word;
}
#u7473_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u7475 {
  position:absolute;
  left:113px;
  top:243px;
  width:118px;
  height:16px;
  text-align:right;
}
#u7476 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u7477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7477 {
  position:absolute;
  left:260px;
  top:360px;
  width:65px;
  height:31px;
  color:#FFFFFF;
}
#u7478 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7479 {
  position:absolute;
  left:361px;
  top:360px;
  width:65px;
  height:31px;
}
#u7480 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  word-wrap:break-word;
}
#u7481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7481 {
  position:absolute;
  left:658px;
  top:134px;
  width:32px;
  height:16px;
  text-align:center;
}
#u7482 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u7483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7483 {
  position:absolute;
  left:802px;
  top:243px;
  width:447px;
  height:16px;
}
#u7484 {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  white-space:nowrap;
}
#u7485_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:2px;
}
#u7485 {
  position:absolute;
  left:642px;
  top:251px;
  width:160px;
  height:1px;
}
#u7486 {
  position:absolute;
  left:2px;
  top:-8px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
