body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:969px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u501 {
  position:absolute;
  left:79px;
  top:57px;
  width:890px;
  height:768px;
}
#u502 {
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  word-wrap:break-word;
}
