body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:634px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10517 {
  position:absolute;
  left:18px;
  top:28px;
  width:680px;
  height:634px;
}
#u10518 {
  position:absolute;
  left:2px;
  top:309px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10519 {
  position:absolute;
  left:80px;
  top:84px;
  width:606px;
  height:32px;
  text-align:left;
}
#u10520 {
  position:absolute;
  left:2px;
  top:8px;
  width:602px;
  word-wrap:break-word;
}
#u10521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10521 {
  position:absolute;
  left:637px;
  top:92px;
  width:45px;
  height:16px;
  text-align:center;
}
#u10522 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u10523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10523 {
  position:absolute;
  left:80px;
  top:115px;
  width:606px;
  height:463px;
}
#u10524 {
  position:absolute;
  left:2px;
  top:224px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10525 {
  position:absolute;
  left:100px;
  top:134px;
  width:57px;
  height:16px;
}
#u10526 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10527 {
  position:absolute;
  left:167px;
  top:126px;
  width:141px;
  height:32px;
}
#u10528 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10529 {
  position:absolute;
  left:339px;
  top:127px;
  width:57px;
  height:31px;
  color:#FFFFFF;
}
#u10530 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u10531 {
  position:absolute;
  left:100px;
  top:180px;
  width:475px;
  height:95px;
}
#u10532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10532 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10533 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10534 {
  position:absolute;
  left:70px;
  top:0px;
  width:280px;
  height:30px;
}
#u10535 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u10536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u10536 {
  position:absolute;
  left:350px;
  top:0px;
  width:120px;
  height:30px;
}
#u10537 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u10538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10538 {
  position:absolute;
  left:0px;
  top:30px;
  width:70px;
  height:30px;
}
#u10539 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10540 {
  position:absolute;
  left:70px;
  top:30px;
  width:280px;
  height:30px;
  color:#008000;
  text-align:left;
}
#u10541 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u10542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u10542 {
  position:absolute;
  left:350px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u10543 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u10544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10544 {
  position:absolute;
  left:0px;
  top:60px;
  width:70px;
  height:30px;
}
#u10545 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10546 {
  position:absolute;
  left:70px;
  top:60px;
  width:280px;
  height:30px;
  color:#008000;
  text-align:left;
}
#u10547 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u10548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u10548 {
  position:absolute;
  left:350px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u10549 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u10550 {
  position:absolute;
  left:107px;
  top:188px;
  width:58px;
  height:16px;
}
#u10551 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10550_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10552 {
  position:absolute;
  left:107px;
  top:219px;
  width:58px;
  height:16px;
}
#u10553 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10552_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10554 {
  position:absolute;
  left:107px;
  top:249px;
  width:58px;
  height:16px;
}
#u10555 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10554_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10556 {
  position:absolute;
  left:121px;
  top:428px;
  width:191px;
  height:16px;
}
#u10557 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u10558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10558 {
  position:absolute;
  left:314px;
  top:423px;
  width:78px;
  height:26px;
  text-align:left;
}
#u10559 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u10560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10560 {
  position:absolute;
  left:377px;
  top:431px;
  width:10px;
  height:10px;
}
#u10561 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10562 {
  position:absolute;
  left:397px;
  top:423px;
  width:41px;
  height:26px;
}
#u10563 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u10564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10564 {
  position:absolute;
  left:448px;
  top:423px;
  width:56px;
  height:26px;
}
#u10565 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u10566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10566 {
  position:absolute;
  left:514px;
  top:423px;
  width:27px;
  height:26px;
}
#u10567 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u10568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10568 {
  position:absolute;
  left:551px;
  top:423px;
  width:56px;
  height:26px;
}
#u10569 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u10570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10570 {
  position:absolute;
  left:617px;
  top:423px;
  width:56px;
  height:26px;
}
#u10571 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u10572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10572 {
  position:absolute;
  left:295px;
  top:501px;
  width:57px;
  height:31px;
  color:#FFFFFF;
}
#u10573 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u10574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u10574 {
  position:absolute;
  left:374px;
  top:501px;
  width:57px;
  height:31px;
  color:#1E1E1E;
}
#u10575 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u10576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10576 {
  position:absolute;
  left:810px;
  top:219px;
  width:373px;
  height:64px;
}
#u10577 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u10578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:2px;
}
#u10578 {
  position:absolute;
  left:570px;
  top:225px;
  width:251px;
  height:1px;
}
#u10579 {
  position:absolute;
  left:2px;
  top:-8px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10580 {
  position:absolute;
  left:810px;
  top:262px;
  width:0px;
  height:0px;
}
#u10580_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u10580_seg1 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:30px;
}
#u10580_seg2 {
  position:absolute;
  left:-567px;
  top:18px;
  width:501px;
  height:8px;
}
#u10580_seg3 {
  position:absolute;
  left:-567px;
  top:-3px;
  width:8px;
  height:29px;
}
#u10580_seg4 {
  position:absolute;
  left:-573px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10581 {
  position:absolute;
  left:-333px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
