body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1183px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:634px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10643 {
  position:absolute;
  left:18px;
  top:28px;
  width:680px;
  height:634px;
}
#u10644 {
  position:absolute;
  left:2px;
  top:309px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10645 {
  position:absolute;
  left:80px;
  top:84px;
  width:606px;
  height:32px;
  text-align:left;
}
#u10646 {
  position:absolute;
  left:2px;
  top:8px;
  width:602px;
  word-wrap:break-word;
}
#u10647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10647 {
  position:absolute;
  left:637px;
  top:92px;
  width:45px;
  height:16px;
  text-align:center;
}
#u10648 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u10649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:463px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10649 {
  position:absolute;
  left:80px;
  top:115px;
  width:606px;
  height:463px;
}
#u10650 {
  position:absolute;
  left:2px;
  top:224px;
  width:602px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10651 {
  position:absolute;
  left:100px;
  top:134px;
  width:57px;
  height:16px;
}
#u10652 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10653 {
  position:absolute;
  left:167px;
  top:126px;
  width:141px;
  height:32px;
}
#u10654 {
  position:absolute;
  left:2px;
  top:8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10655 {
  position:absolute;
  left:339px;
  top:127px;
  width:57px;
  height:31px;
  color:#FFFFFF;
}
#u10656 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u10657 {
  position:absolute;
  left:100px;
  top:180px;
  width:475px;
  height:95px;
}
#u10658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10658 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10659 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10660 {
  position:absolute;
  left:70px;
  top:0px;
  width:280px;
  height:30px;
}
#u10661 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u10662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u10662 {
  position:absolute;
  left:350px;
  top:0px;
  width:120px;
  height:30px;
}
#u10663 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u10664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10664 {
  position:absolute;
  left:0px;
  top:30px;
  width:70px;
  height:30px;
}
#u10665 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10666 {
  position:absolute;
  left:70px;
  top:30px;
  width:280px;
  height:30px;
  color:#008000;
  text-align:left;
}
#u10667 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u10668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u10668 {
  position:absolute;
  left:350px;
  top:30px;
  width:120px;
  height:30px;
  text-align:left;
}
#u10669 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u10670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10670 {
  position:absolute;
  left:0px;
  top:60px;
  width:70px;
  height:30px;
}
#u10671 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u10672 {
  position:absolute;
  left:70px;
  top:60px;
  width:280px;
  height:30px;
  color:#008000;
  text-align:left;
}
#u10673 {
  position:absolute;
  left:2px;
  top:7px;
  width:276px;
  word-wrap:break-word;
}
#u10674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u10674 {
  position:absolute;
  left:350px;
  top:60px;
  width:120px;
  height:30px;
  text-align:left;
}
#u10675 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u10676 {
  position:absolute;
  left:107px;
  top:188px;
  width:58px;
  height:16px;
}
#u10677 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10676_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10678 {
  position:absolute;
  left:107px;
  top:219px;
  width:58px;
  height:16px;
}
#u10679 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10678_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10680 {
  position:absolute;
  left:107px;
  top:249px;
  width:58px;
  height:16px;
}
#u10681 {
  position:absolute;
  left:16px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u10680_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10682 {
  position:absolute;
  left:121px;
  top:428px;
  width:191px;
  height:16px;
}
#u10683 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u10684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u10684 {
  position:absolute;
  left:314px;
  top:423px;
  width:78px;
  height:26px;
  text-align:left;
}
#u10685 {
  position:absolute;
  left:2px;
  top:5px;
  width:74px;
  word-wrap:break-word;
}
#u10686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u10686 {
  position:absolute;
  left:377px;
  top:431px;
  width:10px;
  height:10px;
}
#u10687 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10688 {
  position:absolute;
  left:397px;
  top:423px;
  width:41px;
  height:26px;
}
#u10689 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u10690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10690 {
  position:absolute;
  left:448px;
  top:423px;
  width:56px;
  height:26px;
}
#u10691 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u10692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10692 {
  position:absolute;
  left:514px;
  top:423px;
  width:27px;
  height:26px;
}
#u10693 {
  position:absolute;
  left:2px;
  top:5px;
  width:23px;
  word-wrap:break-word;
}
#u10694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10694 {
  position:absolute;
  left:551px;
  top:423px;
  width:56px;
  height:26px;
}
#u10695 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u10696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10696 {
  position:absolute;
  left:617px;
  top:423px;
  width:56px;
  height:26px;
}
#u10697 {
  position:absolute;
  left:2px;
  top:5px;
  width:52px;
  word-wrap:break-word;
}
#u10698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10698 {
  position:absolute;
  left:295px;
  top:501px;
  width:57px;
  height:31px;
  color:#FFFFFF;
}
#u10699 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u10700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:31px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u10700 {
  position:absolute;
  left:374px;
  top:501px;
  width:57px;
  height:31px;
  color:#1E1E1E;
}
#u10701 {
  position:absolute;
  left:2px;
  top:8px;
  width:53px;
  word-wrap:break-word;
}
#u10702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10702 {
  position:absolute;
  left:810px;
  top:219px;
  width:373px;
  height:64px;
}
#u10703 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  white-space:nowrap;
}
#u10704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:2px;
}
#u10704 {
  position:absolute;
  left:570px;
  top:225px;
  width:251px;
  height:1px;
}
#u10705 {
  position:absolute;
  left:2px;
  top:-8px;
  width:247px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10706 {
  position:absolute;
  left:810px;
  top:262px;
  width:0px;
  height:0px;
}
#u10706_seg0 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:74px;
  height:8px;
}
#u10706_seg1 {
  position:absolute;
  left:-74px;
  top:-4px;
  width:8px;
  height:30px;
}
#u10706_seg2 {
  position:absolute;
  left:-567px;
  top:18px;
  width:501px;
  height:8px;
}
#u10706_seg3 {
  position:absolute;
  left:-567px;
  top:-3px;
  width:8px;
  height:29px;
}
#u10706_seg4 {
  position:absolute;
  left:-573px;
  top:-10px;
  width:20px;
  height:20px;
}
#u10707 {
  position:absolute;
  left:-333px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
