body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1078px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:264px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 170, 171, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u615 {
  position:absolute;
  left:19px;
  top:1285px;
  width:1059px;
  height:264px;
  font-size:14px;
  text-align:left;
}
#u616 {
  position:absolute;
  left:2px;
  top:124px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009898;
}
#u617 {
  position:absolute;
  left:47px;
  top:1275px;
  width:121px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009898;
}
#u618 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:279px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 170, 171, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u619 {
  position:absolute;
  left:19px;
  top:97px;
  width:1059px;
  height:279px;
  font-size:14px;
  text-align:left;
}
#u620 {
  position:absolute;
  left:2px;
  top:132px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009898;
}
#u621 {
  position:absolute;
  left:476px;
  top:84px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009898;
}
#u622 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:201px;
}
#u623 {
  position:absolute;
  left:49px;
  top:138px;
  width:999px;
  height:201px;
}
#u624 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:780px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 170, 171, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u625 {
  position:absolute;
  left:19px;
  top:452px;
  width:1059px;
  height:780px;
  font-size:14px;
  text-align:left;
}
#u626 {
  position:absolute;
  left:2px;
  top:382px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009898;
}
#u627 {
  position:absolute;
  left:47px;
  top:440px;
  width:161px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009898;
}
#u628 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:711px;
}
#u629 {
  position:absolute;
  left:49px;
  top:481px;
  width:999px;
  height:711px;
}
#u630 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  word-wrap:break-word;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:456px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(45, 170, 171, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u631 {
  position:absolute;
  left:19px;
  top:1603px;
  width:1059px;
  height:456px;
  font-size:14px;
  text-align:left;
}
#u632 {
  position:absolute;
  left:2px;
  top:220px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009898;
}
#u633 {
  position:absolute;
  left:47px;
  top:1591px;
  width:201px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009898;
}
#u634 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  height:335px;
}
#u635 {
  position:absolute;
  left:48px;
  top:1685px;
  width:969px;
  height:335px;
  font-size:14px;
}
#u636 {
  position:absolute;
  left:0px;
  top:0px;
  width:969px;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  position:absolute;
  left:47px;
  top:1636px;
  width:975px;
  height:16px;
}
#u638 {
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  white-space:nowrap;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:112px;
}
#u639 {
  position:absolute;
  left:47px;
  top:1386px;
  width:970px;
  height:112px;
  font-size:14px;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  position:absolute;
  left:47px;
  top:1332px;
  width:351px;
  height:16px;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:24px;
}
#u643 {
  position:absolute;
  left:19px;
  top:29px;
  width:301px;
  height:24px;
  font-size:20px;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
