body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2500 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2501 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:667px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2503 {
  position:absolute;
  left:349px;
  top:24px;
  width:1px;
  height:16px;
}
#u2504 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2505 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2506 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2507 {
  position:absolute;
  left:148px;
  top:44px;
  width:182px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2508 {
  position:absolute;
  left:2px;
  top:-2px;
  width:178px;
  word-wrap:break-word;
}
#u2509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2509 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:20px;
}
#u2510 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2511 {
  position:absolute;
  left:49px;
  top:73px;
  width:375px;
  height:1px;
}
#u2512 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2513 {
  position:absolute;
  left:63px;
  top:42px;
  width:12px;
  height:20px;
}
#u2514 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2515 {
  position:absolute;
  left:49px;
  top:73px;
  width:125px;
  height:34px;
}
#u2516 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 152, 152, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2517 {
  position:absolute;
  left:174px;
  top:73px;
  width:125px;
  height:34px;
  color:#FFFFFF;
}
#u2518 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u2519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2519 {
  position:absolute;
  left:299px;
  top:73px;
  width:125px;
  height:34px;
}
#u2520 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u2521_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:395px;
  height:571px;
}
#u2521 {
  position:absolute;
  left:49px;
  top:117px;
  width:375px;
  height:560px;
}
#u2522 {
  position:absolute;
  left:2px;
  top:272px;
  width:371px;
  word-wrap:break-word;
}
#u2523_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 152, 152, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2523 {
  position:absolute;
  left:145px;
  top:555px;
  width:184px;
  height:37px;
  color:#FFFFFF;
}
#u2524 {
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u2525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2525 {
  position:absolute;
  left:525px;
  top:224px;
  width:295px;
  height:16px;
}
#u2526 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u2527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:2px;
}
#u2527 {
  position:absolute;
  left:424px;
  top:232px;
  width:101px;
  height:1px;
}
#u2528 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2529 {
  position:absolute;
  left:525px;
  top:566px;
  width:276px;
  height:16px;
}
#u2530 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u2531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:2px;
}
#u2531 {
  position:absolute;
  left:329px;
  top:574px;
  width:196px;
  height:1px;
}
#u2532 {
  position:absolute;
  left:2px;
  top:-8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
