body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1047px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2636 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2637 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:667px;
}
#u2638 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2639 {
  position:absolute;
  left:349px;
  top:24px;
  width:1px;
  height:16px;
}
#u2640 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u2641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2641 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2642 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2643 {
  position:absolute;
  left:148px;
  top:44px;
  width:182px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2644 {
  position:absolute;
  left:2px;
  top:-2px;
  width:178px;
  word-wrap:break-word;
}
#u2645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2645 {
  position:absolute;
  left:49px;
  top:10px;
  width:375px;
  height:20px;
}
#u2646 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2647 {
  position:absolute;
  left:49px;
  top:73px;
  width:375px;
  height:1px;
}
#u2648 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u2649 {
  position:absolute;
  left:63px;
  top:42px;
  width:12px;
  height:20px;
}
#u2650 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2651 {
  position:absolute;
  left:49px;
  top:73px;
  width:125px;
  height:34px;
}
#u2652 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u2653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 152, 152, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2653 {
  position:absolute;
  left:174px;
  top:73px;
  width:125px;
  height:34px;
  color:#FFFFFF;
}
#u2654 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u2655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2655 {
  position:absolute;
  left:299px;
  top:73px;
  width:125px;
  height:34px;
}
#u2656 {
  position:absolute;
  left:2px;
  top:9px;
  width:121px;
  word-wrap:break-word;
}
#u2657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:561px;
}
#u2657 {
  position:absolute;
  left:49px;
  top:117px;
  width:375px;
  height:560px;
}
#u2658 {
  position:absolute;
  left:2px;
  top:272px;
  width:371px;
  word-wrap:break-word;
}
#u2659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 152, 152, 1);
  border:none;
  border-radius:72px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2659 {
  position:absolute;
  left:145px;
  top:555px;
  width:184px;
  height:37px;
  color:#FFFFFF;
}
#u2660 {
  position:absolute;
  left:2px;
  top:10px;
  width:180px;
  word-wrap:break-word;
}
#u2661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2661 {
  position:absolute;
  left:525px;
  top:224px;
  width:295px;
  height:16px;
}
#u2662 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u2663_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:112px;
  height:21px;
}
#u2663p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:103px;
  height:1px;
}
#u2663p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:114px;
  height:21px;
}
#u2663p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2663p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u2663p002 {
  position:absolute;
  left:100px;
  top:0px;
  width:2px;
  height:1px;
}
#u2663p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u2663.compound {
  width:0px;
  height:0px;
}
#u2663 {
  position:absolute;
  left:424px;
  top:232px;
  width:101px;
  height:1px;
}
#u2664 {
  position:absolute;
  left:2px;
  top:-8px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2665 {
  position:absolute;
  left:525px;
  top:555px;
  width:522px;
  height:43px;
}
#u2666 {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  word-wrap:break-word;
}
#u2667_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:207px;
  height:21px;
}
#u2667p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:198px;
  height:1px;
}
#u2667p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:209px;
  height:21px;
}
#u2667p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u2667p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u2667p002 {
  position:absolute;
  left:195px;
  top:0px;
  width:2px;
  height:1px;
}
#u2667p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u2667.compound {
  width:0px;
  height:0px;
}
#u2667 {
  position:absolute;
  left:329px;
  top:574px;
  width:196px;
  height:1px;
}
#u2668 {
  position:absolute;
  left:2px;
  top:-8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
