body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:936px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:715px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3227 {
  position:absolute;
  left:49px;
  top:52px;
  width:375px;
  height:715px;
}
#u3228 {
  position:absolute;
  left:2px;
  top:350px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u3229 {
  position:absolute;
  left:49px;
  top:52px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u3230 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3231 {
  position:absolute;
  left:130px;
  top:86px;
  width:182px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u3232 {
  position:absolute;
  left:2px;
  top:-2px;
  width:178px;
  word-wrap:break-word;
}
#u3233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u3233 {
  position:absolute;
  left:63px;
  top:84px;
  width:12px;
  height:20px;
}
#u3234 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:551px;
}
#u3235 {
  position:absolute;
  left:49px;
  top:138px;
  width:375px;
  height:550px;
}
#u3236 {
  position:absolute;
  left:2px;
  top:267px;
  width:371px;
  word-wrap:break-word;
}
#u3237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3237 {
  position:absolute;
  left:49px;
  top:731px;
  width:189px;
  height:36px;
}
#u3238 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u3239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 153, 153, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3239 {
  position:absolute;
  left:235px;
  top:731px;
  width:189px;
  height:36px;
  color:#FFFFFF;
}
#u3240 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u3241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3241 {
  position:absolute;
  left:494px;
  top:735px;
  width:442px;
  height:48px;
}
#u3242 {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  white-space:nowrap;
}
#u3243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3243 {
  position:absolute;
  left:494px;
  top:572px;
  width:337px;
  height:16px;
}
#u3244 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u3245_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:81px;
  height:21px;
}
#u3245p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:72px;
  height:1px;
}
#u3245p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:83px;
  height:21px;
}
#u3245p001 {
  position:absolute;
  left:-8px;
  top:-11px;
  width:22px;
  height:22px;
}
#u3245p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u3245p002 {
  position:absolute;
  left:69px;
  top:0px;
  width:2px;
  height:1px;
}
#u3245p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u3245.compound {
  width:0px;
  height:0px;
}
#u3245 {
  position:absolute;
  left:424px;
  top:749px;
  width:70px;
  height:1px;
}
#u3246 {
  position:absolute;
  left:2px;
  top:-8px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
