body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:644px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8525 {
  position:absolute;
  left:18px;
  top:28px;
  width:737px;
  height:644px;
}
#u8526 {
  position:absolute;
  left:2px;
  top:314px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8527 {
  position:absolute;
  left:85px;
  top:96px;
  width:605px;
  height:35px;
  text-align:left;
}
#u8528 {
  position:absolute;
  left:2px;
  top:10px;
  width:601px;
  word-wrap:break-word;
}
#u8529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8529 {
  position:absolute;
  left:636px;
  top:106px;
  width:36px;
  height:16px;
  text-align:center;
}
#u8530 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u8531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8531 {
  position:absolute;
  left:85px;
  top:130px;
  width:605px;
  height:495px;
}
#u8532 {
  position:absolute;
  left:2px;
  top:240px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8533 {
  position:absolute;
  left:296px;
  top:143px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u8534 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u8535 {
  position:absolute;
  left:126px;
  top:209px;
  width:475px;
  height:1px;
}
#u8536 {
  position:absolute;
  left:2px;
  top:-8px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8537 {
  position:absolute;
  left:190px;
  top:183px;
  width:93px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8538 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u8539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8539 {
  position:absolute;
  left:427px;
  top:183px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u8540 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u8541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8541 {
  position:absolute;
  left:444px;
  top:182px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u8542 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u8543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u8543 {
  position:absolute;
  left:372px;
  top:175px;
  width:1px;
  height:27px;
}
#u8544 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8545 {
  position:absolute;
  left:126px;
  top:265px;
  width:555px;
  height:125px;
}
#u8546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8546 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8547 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u8548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u8548 {
  position:absolute;
  left:50px;
  top:0px;
  width:500px;
  height:30px;
  text-align:left;
}
#u8549 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u8550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8550 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u8551 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u8552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u8552 {
  position:absolute;
  left:50px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u8553 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u8554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8554 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
}
#u8555 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u8556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u8556 {
  position:absolute;
  left:50px;
  top:60px;
  width:500px;
  height:30px;
  text-align:left;
}
#u8557 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u8558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u8558 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
}
#u8559 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u8560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u8560 {
  position:absolute;
  left:50px;
  top:90px;
  width:500px;
  height:30px;
  text-align:left;
}
#u8561 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u8562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8562 {
  position:absolute;
  left:126px;
  top:239px;
  width:93px;
  height:16px;
}
#u8563 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
