body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:755px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:644px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8983 {
  position:absolute;
  left:18px;
  top:28px;
  width:737px;
  height:644px;
}
#u8984 {
  position:absolute;
  left:2px;
  top:314px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u8985 {
  position:absolute;
  left:85px;
  top:96px;
  width:605px;
  height:35px;
  text-align:left;
}
#u8986 {
  position:absolute;
  left:2px;
  top:10px;
  width:601px;
  word-wrap:break-word;
}
#u8987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u8987 {
  position:absolute;
  left:636px;
  top:106px;
  width:36px;
  height:16px;
  text-align:center;
}
#u8988 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u8989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8989 {
  position:absolute;
  left:85px;
  top:130px;
  width:605px;
  height:495px;
}
#u8990 {
  position:absolute;
  left:2px;
  top:240px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8991 {
  position:absolute;
  left:296px;
  top:143px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u8992 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u8993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u8993 {
  position:absolute;
  left:126px;
  top:209px;
  width:475px;
  height:1px;
}
#u8994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8995 {
  position:absolute;
  left:190px;
  top:183px;
  width:93px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u8996 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u8997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8997 {
  position:absolute;
  left:427px;
  top:183px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u8998 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u8999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8999 {
  position:absolute;
  left:444px;
  top:182px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u9000 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u9001 {
  position:absolute;
  left:372px;
  top:175px;
  width:1px;
  height:27px;
}
#u9002 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9003 {
  position:absolute;
  left:126px;
  top:265px;
  width:555px;
  height:125px;
}
#u9004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u9004 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u9005 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u9006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u9006 {
  position:absolute;
  left:50px;
  top:0px;
  width:500px;
  height:30px;
  text-align:left;
}
#u9007 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u9008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u9008 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u9009 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u9010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u9010 {
  position:absolute;
  left:50px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u9011 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u9012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u9012 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
}
#u9013 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u9014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u9014 {
  position:absolute;
  left:50px;
  top:60px;
  width:500px;
  height:30px;
  text-align:left;
}
#u9015 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u9016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u9016 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
}
#u9017 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u9018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u9018 {
  position:absolute;
  left:50px;
  top:90px;
  width:500px;
  height:30px;
  text-align:left;
}
#u9019 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u9020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9020 {
  position:absolute;
  left:126px;
  top:239px;
  width:93px;
  height:16px;
}
#u9021 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
