body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:293px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2380 {
  position:absolute;
  left:13px;
  top:114px;
  width:510px;
  height:293px;
}
#u2381 {
  position:absolute;
  left:2px;
  top:138px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2382 {
  position:absolute;
  left:114px;
  top:169px;
  width:300px;
  height:154px;
}
#u2383 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2384 {
  position:absolute;
  left:236px;
  top:196px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2386 {
  position:absolute;
  left:167px;
  top:228px;
  width:232px;
  height:48px;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u2388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2388 {
  position:absolute;
  left:225px;
  top:286px;
  width:79px;
  height:32px;
  color:#FFFFFF;
}
#u2389 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2390 {
  position:absolute;
  left:31px;
  top:132px;
  width:362px;
  height:16px;
  color:#FFFFFF;
}
#u2391 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u2392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:293px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2392 {
  position:absolute;
  left:591px;
  top:114px;
  width:510px;
  height:293px;
}
#u2393 {
  position:absolute;
  left:2px;
  top:138px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2394 {
  position:absolute;
  left:692px;
  top:169px;
  width:300px;
  height:154px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2396 {
  position:absolute;
  left:814px;
  top:196px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2397 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2398 {
  position:absolute;
  left:803px;
  top:286px;
  width:79px;
  height:32px;
  color:#FFFFFF;
}
#u2399 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2400 {
  position:absolute;
  left:609px;
  top:132px;
  width:502px;
  height:16px;
  color:#FFFFFF;
}
#u2401 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2402 {
  position:absolute;
  left:753px;
  top:238px;
  width:183px;
  height:16px;
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
