body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:293px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2332 {
  position:absolute;
  left:13px;
  top:114px;
  width:510px;
  height:293px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:138px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2334 {
  position:absolute;
  left:114px;
  top:169px;
  width:300px;
  height:154px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2336 {
  position:absolute;
  left:236px;
  top:196px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2338 {
  position:absolute;
  left:167px;
  top:228px;
  width:232px;
  height:48px;
}
#u2339 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  word-wrap:break-word;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2340 {
  position:absolute;
  left:225px;
  top:286px;
  width:79px;
  height:32px;
  color:#FFFFFF;
}
#u2341 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2342 {
  position:absolute;
  left:31px;
  top:132px;
  width:362px;
  height:16px;
  color:#FFFFFF;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  white-space:nowrap;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:293px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2344 {
  position:absolute;
  left:591px;
  top:114px;
  width:510px;
  height:293px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:138px;
  width:506px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:154px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2346 {
  position:absolute;
  left:692px;
  top:169px;
  width:300px;
  height:154px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:69px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2348 {
  position:absolute;
  left:814px;
  top:196px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2350 {
  position:absolute;
  left:803px;
  top:286px;
  width:79px;
  height:32px;
  color:#FFFFFF;
}
#u2351 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2352 {
  position:absolute;
  left:609px;
  top:132px;
  width:502px;
  height:16px;
  color:#FFFFFF;
}
#u2353 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2354 {
  position:absolute;
  left:753px;
  top:238px;
  width:183px;
  height:16px;
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
