body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:928px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:464px;
}
#u11810 {
  position:absolute;
  left:37px;
  top:31px;
  width:891px;
  height:464px;
}
#u11811 {
  position:absolute;
  left:2px;
  top:224px;
  width:887px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:741px;
  height:161px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u11812 {
  position:absolute;
  left:179px;
  top:141px;
  width:741px;
  height:161px;
  color:#999999;
  text-align:left;
}
#u11813 {
  position:absolute;
  left:2px;
  top:2px;
  width:737px;
  word-wrap:break-word;
}
#u11814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:161px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u11814 {
  position:absolute;
  left:46px;
  top:141px;
  width:133px;
  height:161px;
  text-align:right;
}
#u11815 {
  position:absolute;
  left:2px;
  top:72px;
  width:129px;
  word-wrap:break-word;
}
