body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1089px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:737px;
  height:644px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12677 {
  position:absolute;
  left:18px;
  top:28px;
  width:737px;
  height:644px;
}
#u12678 {
  position:absolute;
  left:2px;
  top:314px;
  width:733px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12679 {
  position:absolute;
  left:85px;
  top:96px;
  width:605px;
  height:35px;
  text-align:left;
}
#u12680 {
  position:absolute;
  left:2px;
  top:10px;
  width:601px;
  word-wrap:break-word;
}
#u12681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12681 {
  position:absolute;
  left:636px;
  top:106px;
  width:36px;
  height:16px;
  text-align:center;
}
#u12682 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u12683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:495px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12683 {
  position:absolute;
  left:85px;
  top:130px;
  width:605px;
  height:495px;
}
#u12684 {
  position:absolute;
  left:2px;
  top:240px;
  width:601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u12685 {
  position:absolute;
  left:296px;
  top:143px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u12686 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u12687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:2px;
}
#u12687 {
  position:absolute;
  left:126px;
  top:209px;
  width:475px;
  height:1px;
}
#u12688 {
  position:absolute;
  left:2px;
  top:-8px;
  width:471px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12689 {
  position:absolute;
  left:190px;
  top:183px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12690 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12691 {
  position:absolute;
  left:427px;
  top:183px;
  width:17px;
  height:16px;
  font-size:16px;
}
#u12692 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  visibility:hidden;
  white-space:nowrap;
}
#u12693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u12693 {
  position:absolute;
  left:444px;
  top:182px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u12694 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:28px;
}
#u12695 {
  position:absolute;
  left:372px;
  top:175px;
  width:1px;
  height:27px;
}
#u12696 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12697 {
  position:absolute;
  left:126px;
  top:265px;
  width:555px;
  height:125px;
}
#u12698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12698 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12699 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u12700 {
  position:absolute;
  left:50px;
  top:0px;
  width:500px;
  height:30px;
  text-align:left;
}
#u12701 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u12702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12702 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u12703 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u12704 {
  position:absolute;
  left:50px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u12705 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u12706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12706 {
  position:absolute;
  left:0px;
  top:60px;
  width:50px;
  height:30px;
}
#u12707 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u12708 {
  position:absolute;
  left:50px;
  top:60px;
  width:500px;
  height:30px;
  text-align:left;
}
#u12709 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u12710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12710 {
  position:absolute;
  left:0px;
  top:90px;
  width:50px;
  height:30px;
}
#u12711 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u12712 {
  position:absolute;
  left:50px;
  top:90px;
  width:500px;
  height:30px;
  text-align:left;
}
#u12713 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u12714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12714 {
  position:absolute;
  left:126px;
  top:239px;
  width:93px;
  height:16px;
}
#u12715 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12716 {
  position:absolute;
  left:126px;
  top:428px;
  width:555px;
  height:65px;
}
#u12717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12717 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12718 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u12719 {
  position:absolute;
  left:50px;
  top:0px;
  width:500px;
  height:30px;
  text-align:left;
}
#u12720 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u12721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u12721 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u12722 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  word-wrap:break-word;
}
#u12723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:30px;
}
#u12723 {
  position:absolute;
  left:50px;
  top:30px;
  width:500px;
  height:30px;
  text-align:left;
}
#u12724 {
  position:absolute;
  left:2px;
  top:7px;
  width:496px;
  word-wrap:break-word;
}
#u12725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12725 {
  position:absolute;
  left:126px;
  top:402px;
  width:93px;
  height:16px;
}
#u12726 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u12727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12727 {
  position:absolute;
  left:826px;
  top:184px;
  width:263px;
  height:16px;
}
#u12728 {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u12729_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:211px;
  height:21px;
}
#u12729p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:202px;
  height:1px;
}
#u12729p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:213px;
  height:21px;
}
#u12729p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:22px;
  height:22px;
}
#u12729p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:33px;
  height:42px;
}
#u12729p002 {
  position:absolute;
  left:199px;
  top:0px;
  width:2px;
  height:1px;
}
#u12729p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:13px;
  height:21px;
}
#u12729.compound {
  width:0px;
  height:0px;
}
#u12729 {
  position:absolute;
  left:616px;
  top:190px;
  width:200px;
  height:1px;
}
#u12730 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
